.header{
    height: 200px;
    background-image: url(images/headerpic.jpg);
    display: flex;
    justify-content: center;
    border: none;
}

.header-title{
    margin: 50px 0 50px 0;
    background-color: white;
    opacity: .75;
    display: flex;
    align-content: center;
    border-radius: 25px;
    padding: 0 50px 0 50px;
    
}

.header h1{
    color: black;
    font-size: 25pt;
}

.buttonArea{
    display: flex;
    justify-content: center;
    background-color: green;
}

.button{
    width: 200px;
    height: 100px;
    margin: 10% 10px 10% 10px;
    padding: 15px 32px;
    font-size: 20px;
    font-family: 'Lobster';
}


<<<<<<< HEAD

.playerHand{
background-color: #203D0F;
=======
h2{
    font-size: 25px;
    font-family: 'Lobster';
}
/* this will turn the button text greay when they shouldn't click it */
.deactivated{
    color: grey;
}

.form{
    font-family: 'Lobster';
    font-size: 20px;
    align-content: right;
}
.player-hand{
>>>>>>> 2a797ee8f0278d97e81e655e714a63aec65c0a90
    display: flex;
    height: 300px;
    border: solid;
    border-width: 10px;
    border-color: #63372C;
}
.dealerHand{
    background-color: #203D0F;
    display: flex;
    height: 300px;
    border: solid; 
 border-width: 10px;
    border-color: #63372C;
}

.playerOverflow{
    width: 15%;    
    border:solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-right-width: 2.5px;
    border-color: #FFC914;}

.dealerOverflow{
    width: 15%;    
    border:solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-right-width: 2.5px;
    border-color: #FFC914;
}

.playerCard1{
    width:35%;
    border:solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 2.5px;
    border-right-width: 2.5px;
    border-color: #FFC914;
}

.playerCard2{
    width:35%;
    border:solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 2.5px;
    border-right-width: 2.5px;
    border-color: #FFC914;
}

.dealerCard1{
    width:35%;
    border:solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 2.5px;
    border-right-width: 2.5px;
    border-color: #FFC914;}

.dealerCard2{
    width:35%;
    border:solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 2.5px;
    border-right-width: 2.5px;
    border-color: #FFC914;}

    .playerControls{
    width:15%;
    border:solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 2.5px;
    border-right-width: 5px;
    border-color: #FFC914;}

.dealerControls{
    width:15%;
    border:solid;
<<<<<<< HEAD
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 2.5px;
    border-right-width: 5px;
    border-color: #FFC914;}

.playerOverflow ul{
    text-align: center;
    font-size: 20px;
    color: antiquewhite;
    list-style-type: none;
    margin: auto;
    padding: 20px;
    font-family: 'Lobster';
}
.dealerOverflow ul{
    text-align: center;
    font-size: 20px;
    color: antiquewhite;
    list-style-type: none;
    margin: auto;
    padding: 20px;
    font-family: 'Lobster';
}
=======
    border-color: black;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 75%; /* Full width (cover the whole page) */
    height: 50%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;'
    background-color: black;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
>>>>>>> 2a797ee8f0278d97e81e655e714a63aec65c0a90
