.header{
    height: 200px;
    background-image: url(images/headerpic.jpg);
    display: flex;
    justify-content: center;
    border: none;
}

.header-title{
    margin: 50px 0 50px 0;
    background-color: white;
    opacity: .75;
    display: flex;
    align-content: center;
    border-radius: 25px;
    padding: 0 50px 0 50px;
    
}

.header h1{
    color: black;
    font-size: 25pt;
}

.buttonArea{
    display: flex;
    height: 150px;
    justify-content: center;
    background-color: green;
}

.button{
    width: 200px;
    height: 100px;
    margin: auto;
    padding: 15px 32px;
    font-size: 20px;
    font-family: 'Lobster';
}

img {
    margin: center;
    max-height: 200px;
}

.playerHand{
background-color: #203D0F;
    display: flex;
    height: 300px;
    border: solid;
    border-width: 10px;
    border-color: #63372C;
}
.dealerHand{
    background-color: #203D0F;
    display: flex;
    height: 300px;
    border: solid; 
 border-width: 10px;
    border-color: #63372C;
}

.playerOverflow{
    width: 15%;    
    border:solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-right-width: 2.5px;
    border-color: #FFC914;}

.dealerOverflow{
    width: 15%;    
    border:solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-right-width: 2.5px;
    border-color: #FFC914;
}

.playerCard1{
    width:35%;
    border:solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 2.5px;
    border-right-width: 2.5px;
    border-color: #FFC914;
}

.playerCard2{
    width:35%;
    border:solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 2.5px;
    border-right-width: 2.5px;
    border-color: #FFC914;
}

.dealerCard1{
    width:35%;
    border:solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 2.5px;
    border-right-width: 2.5px;
    border-color: #FFC914;}

.dealerCard2{
    width:35%;
    border:solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 2.5px;
    border-right-width: 2.5px;
    border-color: #FFC914;}

    .playerControls{
    width:15%;
    border:solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 2.5px;
    border-right-width: 5px;
    border-color: #FFC914;}

.dealerControls{
    width:15%;
    border:solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 2.5px;
    border-right-width: 5px;
    border-color: #FFC914;}

.playerOverflow ul{
    text-align: center;
    font-size: 20px;
    color: antiquewhite;
    list-style-type: none;
    margin: auto;
    padding: 20px;
    font-family: 'Lobster';
}
.dealerOverflow ul{
    text-align: center;
    font-size: 20px;
    color: antiquewhite;
    list-style-type: none;
    margin: auto;
    padding: 20px;
    font-family: 'Lobster';
}