.header{
    height: 150px;
    background-color: green;
    display: flex;
    justify-content: center;
    border: solid;
    border-color: black;
}

.buttonArea{
    display: flex;
    justify-content: center;
    background-color: lightgreen;
}

.button{
    width: 200px;
    height: 100px;
    margin: 10% 10px 10% 10px;
    padding: 15px 32px;
    font-size: 20px;
    font-family: 'Lobster';
}

.overflow{
    list-style: none;
    font-size: 25px;
    font-family: 'Lobster';
}


h2{
    font-size: 25px;
    font-family: 'Lobster';
}
/* this will turn the button text greay when they shouldn't click it */
.deactivated{
    color: grey;
}

.form{
    font-family: 'Lobster';
    font-size: 20px;
    align-content: right;
}